@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



#header {
    transition: ease-in-out 0.3s;
    position: relative;
    display: flex;
    z-index: 997;
    align-items: center;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
}

#header h2 span {
    color: #fff;
    border-bottom: 2px solid #183ad2;
    padding-bottom: 6px;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg {
        align-items: center;
        justify-content: center;
    }

}

#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

#header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }

    #header.header-top h1 {
        font-size: 26px;
    }
}


.navbar {
    padding: 0;
    margin-top: 35px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #e91e63;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: rgb(0, 0, 0);
}

.mobile-nav-toggle {
    color: rgb(0, 0, 0);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
}


@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}


.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(238, 238, 238, 0.9);
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}

.navbar button {
    background: #24262b;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.navbar button:hover {
    background: #24262b;
}



.footer {
    background-color: #24262b;
    margin-top: 20px;
    padding: 70px 0;
}

a {
    color: black;
    font-family: 'poppins', sans-serif;
}

.footer .container {
    max-width: 1170px;

    margin: auto;
}

.footer ul {

    list-style: none;

}

.footer .row {
    display: flex;
    flex-wrap: wrap;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font: size 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}


.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover {

    color: #ffffff;
    padding-left: 8px;


}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media (max-width:574px) {
    .footer-col {
        width: 100%;

    }
}


main {
    margin: 30px;
}

/*aqui empieza cod css*/