.h1inicioD {
    text-align: justify;
    position: relative;
    font-size: 28px;
    background: linear-gradient(to right, black, black, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1inicio {
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 25px;
    justify-content: center;
}

.inicioh4 {
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 25px;
}

.h4serv {
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.cardinicio {
    text-align: justify;
    background-color: white;
    transition: all ease-in-out 0.3s;
    height: 21vw;
    width: 22vw;
}

.cardinicio:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cardinicio-img-top {
    width: 100%;
    height: 18vw;
    object-fit: contain;
}

.imgincio {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 500px;

}



.container__slider {
    max-width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio] {
    display: none;
}

.container_slider1 {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imginicio {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#vermas {
    padding: 10px 0;
    color: white;
    outline: none;
    background-color: black;
    border: 1px solid rgb(62, 60, 60);
    width: 95%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
    transition: .3s ease all;
}

#vermas:hover {
    background: white;
    border: 1px solid transparent;
    color: black;
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    transition: .3s ease-in-out all;
}


#item-2:checked~.cards #selector-1,
#item-1:checked~.cards #selector-3,
#item-3:checked~.cards #selector-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked~.cards #selector-1,
#item-1:checked~.cards #selector-2,
#item-2:checked~.cards #selector-3 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked~.cards #selector-1,
#item-2:checked~.cards #selector-2,
#item-3:checked~.cards #selector-3 {
    transform: translateX(0) scale(1);
    z-index: 1;
}